{% extends 'base.html' %}

{% block title %}
<title>Blog Detail</title>
{% endblock%}


{% block content %}

<header class="postDetail__header container">
    <img src="{{url_for('static', filename="images/webdevimg.png")}}" alt="">
</header>
<div class="container">
    <section class="postDetail__title">
        <div class="postDetail__date">
            <p>{{ post.date_created.date() }}</p>
        </div>
        <div class="postDetial__mainTitle">
            <h2>{{post.title}}<h2>
        </div>
    </section>
    <main class="postDetail__content mb-5">
        <p>At Sololearn, our goal is to provide coding classes that not only integrate the best practices in learning to code, but also some of the most useful topics for modern web development. Combining essential content concepts, practical coding challenges, and a unique and thriving learner community to network with and learn together, Sololearn is the industry leader in mobile and online coding offerings. 

Sololearn is excited to announce our newest coding course: Web Development Fundamentals. With web development only becoming more important to individuals and companies worldwide during the rise of remote work during the COVID-19 pandemic, the goal of this course is to provide learners with the essential skill set needed to build dynamic and responsive websites for themselves and potential clients. Modern web development requires programmers who know how to navigate all of the key components of operating a website, from databases and the back-end to the tools needed to create a responsive and navigable user interface.

Integrating elements of CSS, HTML, and JavaScript, the Web Development Fundamentals class has everything you need to jumpstart your coding career and become a skilled web developer quickly. With this course, you’ll learn the structure, philosophies, and best practices being used by experienced web developers around the world today. And, as always with Sololearn courses, you’ll have a variety of opportunities to actually work with live code to build test projects and start creating a work portfolio that can help you land that first web developer job.

What Is Included In The Web Development Fundamentals Course?
The Web Development Fundamentals course is broken down into three specific modules, each of which is geared toward introducing everything you need to know about web development into manageable, “bite-sized” chunks to make progressing through your learning easy, efficient, and exciting. Here’s what you can expect in each:</p>
    </main>
</div>

{% endblock%}